<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1><%=day%></h1>

    <% var len = items.length %>
    <% for (var i =0; i < len;  i++ ) { %>
        <li>
          <%=items[i]%>
        </li>
    <% } %>

    <form action="/" method="post">
      <input type="text" name="newItem">
      <button type="submit" name="button">Add</button>
    </form>

  </body>
</html>
